@import '../../index.scss';


.main{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70vh;
    background-color: #eee5e6;

    .slider{
        width: 100%;
    }
 }


 
@media screen and (max-width:767px){
    .main{
        height: 28vh;
    }
}

@media screen and (min-width:768px) and (max-width:991px){
    .main{
        height: 38vh;
    }
}